/* Universal Selector */
* {
  margin:0;
  padding:0;  
  box-sizing: border-box;
}

/* Variables here */
:root{
  --aboutme-contact-bgcolor: rgb(227, 227, 231);
  --box-background:  #8da8a5;
}

/* Element Selectors */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
}


/* This class defines the top header
  Tifni Shroll                About Me    Work    Contact Me   Resume
The children of .header-style are h1 and nav*/
.header-style{ 
  display:flex;
  flex-direction: row;
  justify-content: space-between; /* This makes space between h1 & nav children */
  align-items: center;
  height: 130px;
  width: 100%;
  padding: 20px; /* Padding around the h1 & nav children */
  background-color: black;
}

/* Style Tifni Shroll */
header h1 {
  background-color: var(--box-background);
  padding: 9px;
  padding-left: 45px;
}

/* Style milky Way background*/
.sub-header{ 
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  height: 150px;
  background-image: url("../images/milky-way.jpg");
  justify-content: flex-end;
}

/* Auto width for Creative/Professional text in sub header*/
.sub-header p {  
  width:auto;
  /* font-size:130%; */
  font-size: 30px;
  
}

.subheading{
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color:var(--box-background);
}

nav ul {
  display:flex;
  list-style: none;
}

nav ul li{
  margin-left: 15px;
}

nav ul a  {
  color: var(--box-background);
}

main {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--aboutme-contact-bgcolor);
}

.subtopics {
  display:flex; 
  flex-flow: row wrap;
  justify-content: flex-start;
  /* background-color: var(--aboutme-contact-bgcolor); */
  /* Tell item to take 100% of viewport*/
  width: 100%; 
  padding : 10px;
  margin:20px;
  font-size: 30px;
}

/* About Me Section */
.subtopics h1 {
  font-size:40px;
  padding: 20px 20px 10px 20px;
  border-style: none;
  text-align:right; 
  /* Tell h1 "About Me" to take a % of left viewport*/
  width: 20%;
  /* flex:40%; */
  /*flex: 0 1 auto. It sizes the item based on its width/height properties (or its content if not set).*/
  flex: 0, 1, auto; 
}

.subtopics p {
/* section p { */
  /* display:inline-flex; */
  font-size: 30px;
  padding: 40px;
  /* Tell p to take remaining % of viewport*/
  width:80%;
  border-style: none none none solid;
  border-width: 10px;
  /* flex: 0 0 300px; */

}
.subtopics nav button {
  width: 150px;
  margin: 0 .5%;
  font-size: 100%;
  color: #13293d;
  background-color: #fff;
  border: 3px solid #13293d;
}

/* .another-class {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-basis: 95%;
} */

aside {
  flex: 0 0 20.5%;  /* increased 1% to account for border */
  /* background-color: var(--aboutme-contact-bgcolor); */
  height:60vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-left: 20px; 
  text-align: left;
  border-style: none solid none none;
  border-width: 10px;
}

aside h1 {
  font-size:40px;
  padding: 20px 20px 40px 20px;
  text-align: right;
}

.work-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color:var(--aboutme-contact-bgcolor); */
  padding : 3px;
  /* margin:20px; */
  gap: 10px;
  flex: 0 0 78%; 
}

.hero {
  /* height: 800px;
  width: 100%;
  margin-bottom: 25px; */
  background-image: url("../Assets/images/surf.avif");
  background-size: cover auto;
  background-position: center;
}

.work-container header {
  padding: 20px 20px 20px 20px;
  background-color: var(--box-background);
  text-align:center;
  font-size: 40px;
}

/* .work-card {
display: flex;
flex-direction: column;
justify-content: flex;
}



.work-card {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  } */
  
.flex-items {
  display:flex;
  min-height: 20vh;
  max-height: 20vh;
  flex-basis: 48%;
}

/* Surf Report */
.flex-items:first-child {
  /* Grow is 3 so card gets larger with re-sizing
     75% is fitting the work card next to the Aside when on a regular viewport*/
  /* flex: 0 0 60%;  */
  /* height:20vh; */
  flex-basis: 100%;
  background-image: url("../Assets/images/surf.avif");
  border-width: 10px;
  border-style: solid;
  padding: 10px 10px 30px 0px;
  margin :0 ;
  align-items: center;
}
/* 
.flex-items:nth-child(1) {
  background-image: url("../Assets/images/surf.avif");
  background-size:auto cover;
  background-position: center;
} */

.flex-items:nth-child(2) {
  background-image: url("../Assets/images/trees.avif");
  background-size:auto cover;
  background-position: center;
}

.flex-items:nth-child(3) {
  background-image: url("../Assets/images/kitchen.avif");
  background-size:auto cover;
  background-position: center;
}
.card img {
  width: 100%;
}


/* CARD that occupies half of the remaining space */
/* HOW DO I SLIDE THIS UNDER WORK:SURF REPORT AND RIGHT OF ASIDE???????? */
.led-wall-card{
  background-color: rgb(251, 248, 248);
  border-width: 10px;
  border-style: solid;
  padding:5px;
  margin :5px;
  /* flex: 0 0 50%;   */
  /* At 20% it slides up */
  height:200px;
}

.led-wall-card header {
  padding: 20px;
  padding: 20px;
  background-color: var(--box-background);
  text-align: center;
  font-size: 40px;
}

.led-wall-card p {
  text-align: left;
}

/* footer nav {
  display: flex;
  justify-content: center;
  margin-top: 5%;
} */



/* The user's cursor is positioned over the element */
.subtopics nav button:hover {

/* button:hover { */
  background-color: #772014;
  color: #fff;
}

/* The user is actively pressing down on the element */
.subtopics nav button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
.subtopics nav button:focus {
  outline: none;
  border-color: #8ac4ff;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  nav,
  .work-container {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}



